@{
    ViewData["Title"] = "Home Page";
}

<div class="d-md-flex">
    <h1 class="">Roles : </h1>
    @* <a asp-controller="Administration" asp-action="ListRoles" class="btn btn-primary mx-1 my-auto">List Roles</a> *@
</div>
